* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}
.wrapp {
    width: 1170px;
    margin: auto;
}
.logoMain {
    display: inline-block;
    float: left;
}
.menu {
    display: inline-block;
    float: right;
}
.menuItem {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.HeadTextBlock {
    text-align: center;

}
.contentItemTop {
    display: inline-block;
    width: 255px;
    height: 322px;
    margin: 0 30px 30px 0;
}
.contentItemBottom {
    display: inline-block;
    width: 255px;
    height: 322px;
    margin: 0 30px 30px 0;
}
.newsContent li {
    width: 350px;
    display: inline-block;
}
.contentItemBottom, h3, p {
    display: inline-block;
}