* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteiner {

}
.menu {
    margin: auto;
    width: 150px;
    height: 30px;
    background-color: #272727;
    color: #ffffff;
    position: relative;
    text-align: center;
}
.subMenu {
    display: none;
    
}
.menu:hover .subMenu {
    display: block;
    color: red;
    position: relative;
    top: 12px;
    width: 150px;
    height: 30px;

}
.subMenu li {
    background-color: bisque;
    list-style: none;
}